.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    margin: 80px 50px;
}


.cart-container {
    background-color: rgba(255, 153, 0, 0.3);


}

.pagination button {
    margin: 10px;
    background-color: aliceblue;
    border: 1px rgb(245, 122, 7) solid;

}

.pagination .selected {
    background-color: rgb(233, 133, 19);
    color: white;

}



@media screen and (max-width:1200px) {

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:900px) {

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* @media screen and (max-width:600px) {

    .product-container{
        grid-template-columns: repeat(1,1fr);
    }

    .cart-container{
        display: none;
    }
    
} */