.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

    margin: 80px 50px;
}



@media screen and (max-width:1200px) {

    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:900px) {

    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media screen and (max-width:600px) {

    .product-container{
        grid-template-columns: repeat(1,1fr);
    }

    .cart-container{
        display: none;
    }
    
}


