.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7; 
    border-radius: 8px;

    position: relative;

    
}

.product img{
    width: 276px;
    height: 276px;
    border-radius: 10px;
    margin: 11px;
 
}

.product-name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
margin-top: 1px;
}

.product-info{
    margin:0px 14px;
    
}

.product-info p{
    margin-bottom: 0;
    margin-top: 10px;
}

.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;

    
}

.btn-cart:hover{

    background-color: orangered;
}