.form-container {
    width: 500px;
    margin: 20px auto;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-family: 'Lato';
    color: #2A414F;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;

}

.input-group label {
    display: block;
    font-size: 20px;
}

.input-group input {
    width: 415px;
    height: 55px;

    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 8px;
}

.form-submit {
    width: 415px;
    height: 55px;
    font-size: 30px;
    color: #0E161A;

    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: 0;
    margin-bottom: 8px;
}

.form-link {
    text-decoration: none;
    color: #FF9900;
}

.form-link:hover {

    color: orangered;

}